h1 {
  text-align: center;
}
div {
  margin: auto;
  width: 50%;
  padding: 30px;
}

#input-name {
  margin-left: 16px;
  margin-bottom: 15px;
}

#button1 {
  margin-top: 5px;
  margin-left: auto;
}
